@use './../Home/base.scss';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');


.container-login {
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
  background: rgb(245, 245, 245);

}

h2,
a {
  color: #141212;
  text-decoration: none;

}

.wrapper {
  position: relative;
  width: 450px;
  height: 550px;
  display: grid;
  place-items: center;
  box-sizing: border-box;
  text-align: left;
  margin: 15px auto;
  padding: 40px;
  border: 1px solid #bfbcbb;
  border-radius: 8px;
  box-shadow: 0px 2px 37px 5px rgba(62, 81, 2, 0.80);

  .login {
    width: 300px;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 14px;
    z-index: 2;


    input {
      color: #373131;

    }

    input:hover {
      border-color: hwb(116 20% 49%);
    }

    .login-other-title {
      color: #0f0d0d;
      text-decoration: underline;
    }

    .login-other {
      display: flex;
      color: #100f0f;
      // flex: ;

      .login-with {
        width: 120px;
        height: 35px;
        text-align: center;
        border: solid 1px rgb(14, 11, 11);
        margin: auto 10px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      #login-with-google:hover {
        opacity: .8;
        cursor: pointer;
      }
      // Vì không dùng Login bằng FB nên làm mờ nó đi
      #login-with-facebook {
        opacity: .4;
        cursor: auto;
      }
      

      img {
        width: 30px;
        margin-right: 5px;
      }
    }

  }

}

h2 {
  font-size: 2em;
  margin: 0;
}

input {
  width: 100%;
  border: 2px solid #8f8686;
  padding: 12px 20px;
  box-sizing: border-box;
  background: transparent;
  font-size: 14px;
  box-shadow: none;
  outline: none;
  border-radius: 5px;
}

#submit {
  padding: 12px 20px;
  box-sizing: border-box;
  font-size: 16px;
  box-shadow: none;
  outline: none;
  border-radius: 5px;
  color: white;
  width: 100%;
  background: rgba(76, 162, 84, 0.9);
  border: none;
  cursor: pointer;
}


input::placeholder {
  color: rgba(60, 55, 55, 0.75);
}

.links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

#forgot:hover {
  cursor: pointer;
  opacity: .8;
}

#sign-up:hover {
  cursor: pointer;
  opacity: .8;
}