// Variables
// Class này tạo ra những thuộc tính dùng cho cả project để đồng nhất về color and font
$red: rgb(240, 71, 71);
$blue: #1c3367;
$brow: rgb(143, 51, 43);
$headerColor: rgb(233, 236, 236);
$footerColor: rgb(233, 236, 236);
$font-text: 'Roboto', sans-serif;
$font-size: 15px;
$font-number: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
  'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
