@use './../../Home/base.scss';

*,
::after,
::before {
    box-sizing: border-box;
}


.rigister-form {
    text-align: left;
    width: 450px;
    margin: 15px auto;
    padding: 40px;
    border: 1px solid #bfbcbb;
    border-radius: 5px;
    box-shadow: 0px 2px 37px 5px rgba(62, 81, 2, 0.80);
    font-size: 15px;
    .invalid{
        color:  red;
    }
}

.title {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
}

.input-group {
    margin-bottom: 20px;
    position: relative;

    .label {
        font-weight: 400;
        // padding: 15px;
    }

    .icon {
        position: absolute;
        top: 28px;
        right: 5px;
    }

    .input {
        display: block;
        width: 100%;
        padding: 10px;
        border: 1px solid #d6d2d1;
        border-radius: 5px;
    }
}

.input:focus {
    outline: none;
    border: 1px solid rgb(49, 97, 54);
}

.hidden {
    display: none;
}

.button {
    width: 100%;
    padding: 13px;
    margin-top: 15px;
    color: #fff;
    background-color: rgba(76, 162, 84, 0.9);
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}

.button:hover {
    opacity: .8;
}