@use './../../Home/base.scss';

.banners {
  width: 100%;
}
.box{
  width: 100%;
  text-align: center;
  justify-content: center;
.title-why {
  width: 100%;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 400;
  text-align: inherit;
}
.container-why {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;

  .img-right {
    width: 360px;
    height: 250px;
    border-radius: 10px;
  }

  .content {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    .content-left {
      display: flex;
      align-items: flex-end;
      font-weight: 350;
      font-size: base.$font-size;
      width: 670px;
      .column {
        width: 20%;
        background-color: #043f94;
        background-image: linear-gradient(to top, #0391e8, #006bc6, #0050ae);
        text-align: left;
        line-height: 22px;
        margin: 0px 3.5px;
        border-radius: 10px;
        color: #fff;
        height: auto;
        padding: 50px 15px 20px;
        position: relative;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        img {
          position: absolute;
          top: 10px;
          left: 15px;
          background: #fff;
          padding: 3px;
          border-radius: 6px;

          width: 25px;
          height: 25px;
        }
      }
      .column-under {
        position: absolute;
        width: 670px;
        height: 20px;
        border-radius: 25px;
        background: #2c5095;
        margin-bottom: -10px;
        z-index: -1;
      }
    }
  }
}}
// @keyframes fadeInLeft {
//   0% {
//     opacity: 0;
//     -webkit-transform: translateX(-20px);
//     -ms-transform: translateX(-20px);
//     transform: translateX(-20px);
//   }

//   100% {
//     opacity: 1;
//     -webkit-transform: translateX(0);
//     -ms-transform: translateX(0);
//     transform: translateX(0);
//   }
// }
