// Code định dạng nội dung muốn bôi đen trên web
*::selection {
  color: rgb(13, 12, 12);
  background-color: orange;
}

#root {
  max-width: 100%;
  justify-content: center;
  text-align: center;
  font-family: 'Regular', sans-serif;
}